# Конфигурация базы данных
DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase    # Имя базы данных

# API-ключи
CURRENCY_API_KEY=your_currency_api_key_here
STOCKS_API_KEY=your_stocks_api_key_here
GITHUB_TOKEN=your_github_token_here